
header{
    width: 100%;
    background: #fff;
    padding: 20px 0px 0px;
}
header .logo img{
    text-align: center;
}

header .logo img{
    margin: 0 auto 20px auto;
    max-width: 500px;
    text-align: center;
    width: 90%;
}

li{
    list-style: none;
}

#datos-contactos{
    text-align: right;
}

.productos-destacados{
    background: rgb(112, 174, 255);
}

.contacto{
    display: inline-block;
    text-align: center;
}

footer{
    background-color: rgb(174, 230, 84);
}